.modal {
    box-shadow: 0px 0px 10px 0px gray;
    width: 600px;
    padding: 50px;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: teal;
    color: whitesmoke;
    z-index: 1;
}

.modalButts {
    display: flex;
    justify-content: center;
    gap: 120px;
}

.modalButts button {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    cursor: pointer;
}

.refuse {
    background-color: red;
}

.go {
    background-color: goldenrod;
}